

*{
    margin: 0% 0%;
}

.add-container {
    width: 90%;
    background-color: rgba(217, 217, 217, 0.61);
    border-radius: 12px;
    margin: auto; 
    padding: 20px;
    margin-top: 4%;
}

.add-forms label {
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 15px; 
    color: #000000;
    font-family: "SN Pro", sans-serif;
    font-weight: bolder;
}

.add-forms input {
    width: 97%;
    padding: 10px; 
    border: none;
    border-radius: 6px;
    background: white;
}

.tittle {
    margin-top: 2%;
    text-align: center;
}

h1 {
  font-weight: 400;
  font-family:"SN Pro";
  font-size: 2rem;
}
#fecha-box {
    width: 30%;
}



.fechas {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 4%;

}

.tercerafila {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
}


.primera-fila {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#descripcion {
    width: 100%;
}
#nuevo-indicador {
    width: 50%;
}

#categoria {
    width: 40%;
}

#area {
    width: 30%;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.boton-login:hover {
    background-color: rgb(207, 55, 0);
    font-size: medium;
    transform: scale(1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.boton-login {
    background-color: orangered;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 90px; /* Cambia height y width por padding osea, relativo al contenido*/
    text-align: center;
    text-decoration-line: none;
    font-family: "SN Pro", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}