.seccion-titulo {

    text-align: center;
    margin-top: 2%;
    font-family: "SN Pro", sans-serif;
    font-weight:lighter;
    color: rgb(213, 6, 6);
    font-size: 17px;
    font-weight: 300;

}

.seccion-titulo p {
    color: black;
    font-family: "SN Pro", sans-serif;
    margin-top: 1%;
    font-size: 20px;
}

.three-lines-img {
    height: 25px;
    width: 25px;
    appearance: none;
    border: 2px solid gray;
}

.three-lines-img:hover {
    transform: scale(1);
    cursor:pointer;
}

.three-lines-img:checked{
    background-color: rgb(231, 21, 21);
    transform: scale(1.3);
    border-color: rgb(69, 3, 3);
}

.Principal-table {
    margin-top: 2%;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.boton-eliminar:hover {
    background-color: rgb(113, 8, 8);
    font-size: medium;
    transform: scale(1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.boton-eliminar {
    background-color: orangered;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 90px; /* Cambia height y width por padding osea, relativo al contenido*/
    text-align: center;
    text-decoration-line: none;
    font-family: "SN Pro", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}
