*{
    margin: 0;

}
.background_img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url("../media/pexels-pixabay-159400.png")no-repeat;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

@keyframes logo_animation {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }

}

.logo{
    max-height: 150px;
    animation: logo_animation;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-delay: 0.7s;
    animation-direction: alternate;
}

.login_container {
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 45%;
    height: 80%;
    background-color: white;
    border-radius: 7%;
    display: flex;
    flex-direction: column;

    animation: login-animation;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;       
    visibility: hidden;
}


.register_logo{
    margin-top: 1%;
    width: 12%;
    align-items: center;
    
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing:none;
    font-weight: 200;
    letter-spacing:0.3ch;
}

h3 {
    margin-top: 2%;
    text-align: center;
    font-size: 170%;
    font-family: sans-serif;
    font-weight: 500;

}

label{
    margin-top: 2%;
    color: black;
    font-size: medium;
    font-family: "Roboto", sans-serif;
}
p {
    margin-top: 2%;
    font-size: medium;
    text-align: center;
    width: 80%;
    font-family: "SN Pro", sans-serif;
    font-weight: lighter;
}

.input-form {
    border: 1px solid gray;
    border-radius: 12px ;
    box-sizing: border-box;
    width: 60vh;
    height: 42px;
    padding: 0 12px;

}

.form-code {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-family: "Quicksand", sans-serif; 
}


.text-forms {
    font-size: medium;
    margin-left: 0;
    width: 100%;
    color: rgb(43, 43, 43);
    

}

.boton-container {
    box-sizing: border-box; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-left: 19%;
    height: 25%;
    width: 60%;
}
.boton-login {
    background-color: #ff721b;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    font-family: "SN Pro", sans-serif;
    font-size: 20px;
    border: none;
}

.boton-login:hover {
    background-color: #e66016;
    transition-duration: 0.4s;
    cursor: pointer;
}
.footer-text {
    font-size: 60%;
    font-family: "SN Pro", sans-serif;
    margin-top: 8%;
    text-align: center;
}



@keyframes login-animation {
    from {
        opacity: 0%;
    }

    to {
        visibility: visible;
        opacity: 100%;
    }

}
