* {
  margin: 0%;
}

.tabla_contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 4rem;

}

.tabla_contenido ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 5rem;
    
}

.container {
    margin-top: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.barra_superior {
    z-index: 1000;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0;
    justify-content: center;
    height: 50%;
    border-bottom: 2px solid rgb(163, 163, 163);
    
    
}

.footer_superior {
    display: flex;
    justify-content: space-between;
    width: 8%;
    padding: 0 20px;
    align-items: center;
    margin-left: auto;

}


.boton {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;

    
}

.boton a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
    border-radius: 10px;
    font-family: "SN Pro", sans-serif;
}

.boton img {
    width: 25px;
    height: 25px;
}

.logo-middle {
    width:35px;
    height: 35px;

}


.boton--hover:hover {
    transform: scale(0.9);
    background-color: rgb(255, 255, 253);
    border-color: orange;
}


.principal-tittle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2%;

}

.principal-tittle h1 {
  font-weight: 400;
  font-family:"SN Pro";
  font-size: 2rem;
}

.principal-tittle p {
  font-family: "SN Pro", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  color: black;
  margin-top: 1.5%;
}