* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pricing-container {
    display: flex;
    gap: 2%;
    max-width: 1000px;
    justify-content: center;
    margin: 5px auto;
   
}

.pricing-card {
    background: white;
    padding: 40px 30px;
    text-align: center;
    flex: 1;
    position: relative;
    transition: transform 0.3s ease;
}

.pricing-card:first-child {
    border-radius: 20px 0 0 20px;
}

.pricing-card:last-child {
    border-radius: 0 20px 20px 0;
}

.pricing-card.featured {
    background: linear-gradient(135deg, #ffffff 0%, #f07714 100%);
    color: white;  
    z-index: 1;
    border-radius: 20px;

}

.plan-title {
    padding-top: 10%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 5px;
}

.pricing-card.featured .plan-title {
    color: black
}

.plan-name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-bottom: 15px;
}

.pricing-card.featured .plan-name {
    color: black;
}

.duration {
    font-size: 14px;
    color: #64748b;
    margin-top: 15px;
}

.pricing-card.featured .duration {
    padding-top: 30%;
    color: rgba(255, 255, 255, 0.9);
    text-align: justify;
}

.price {
    font-size: 36px;
    font-weight: 700;
    color: #22d3ee;
    margin-bottom: 30px;
}

.features {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}


.pricing-card.featured .features li {
    color: white;
}



@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        gap: 20px;
    }

    .pricing-card:first-child,
    .pricing-card:last-child {
        border-radius: 20px;
    }

    .pricing-card.featured {
        transform: scale(1);
    }
}