* {
    margin: 0;
}
.background_img {
    width: 100vmax;
    height: 100vmin;
    background-size: cover;
    background: url("../media/pexels-pixabay-159400.png")no-repeat;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: background-welcome-panel;
    animation-delay: 4s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards; 

}

 @keyframes background-welcome-panel {
    from {
        visibility: visible;
        opacity: 100%;
    }

    to {
        visibility: hidden;
        opacity: 0%;
        pointer-events: none;
        z-index: 10;
        display: none;
    }

} 

.welcome-panel-container {
    align-items: center;
    position: absolute;
    width: 40%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 7%;
    display: flex;
    flex-direction: column;

    animation: welcome-panel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-direction:alternate-reverse;



}

/*la verdad casi no consigo hacer esto, pero indica los tiempos de animacion,
un poco mas tecnico, tiempos de pausa durante la animacion*/

@keyframes welcome-panel {
    0%   { opacity: 100%; /*tambien se puede usar 1*/ }
    80%  { opacity: 100%; } 
    100% { opacity: 0%; /*tambien se puede usar 0*/  }
}

.logo{
    max-height: 150px;
    animation: logo-animation;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode:forwards;
    /*añadir hiden*/
}



.register_logo{
    margin-top: 4%;
    max-width: 10%;
    
}

@keyframes logo-animation {

    to {
        visibility: visible;
        opacity: 100%;
    }

}

h3 {
    margin-top: 2%;
    text-align: center;
    font-size: 160%;
    font-family: sans-serif;
    font-weight: 500;

}

h5 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing:none;
    font-weight: 200;
    letter-spacing:0.3ch;
}
p{
    margin-top: 2%;
    color: grey;
    font-size: 75%;
    font-family: "Roboto", sans-serif;

}

.footer-welcome-panel{
    font-size: small;
}

.photo-icon {
    margin-top: 3%;
    height: 25%;
}

.welcome-text-panel {
    font-family: "Roboto", sans-serif;
    font-weight: 400;

}
