*{
    margin: 0%;
    font-family: "SN Pro", sans-serif;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.profile-box {
    width: 25%;
    background-color:rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto ;
    grid-template-rows: auto ;
    grid-template-areas: 
    "pp "
    "perf ";
    padding: 20px;
    margin-top: 3%;
    justify-content: center;
    align-items: center;

}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    margin-top: 2%;
    justify-items: center;
}

h1 {
    text-align: center;
    margin-top: 4%;
    font-size: 38px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    grid-area: pp;
}

h2 {
    font-weight: 500;
    color: rgb(247, 64, 18);
    font-size: 20px;
    grid-area: pp;

}

.informacion1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
    justify-self: center;
}

.text{
    border-radius: 20px;
    font-size: 30px;
    height: 50px;
    font-family: "SN Pro", sans-serif;
    color: rgb(151, 151, 151);
    background-color: rgb(255, 255, 255);
    padding: 0% 20px;
}

.close-profile {
    background-color: rgba(255, 68, 0, 0.712);
    color: white;
    transition: all 0.3s ease;
}

.close-profile:hover{
    background-color: rgb(226, 54, 11);
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

@media (max-width:600px) {
    .profile-box {
        display: flex;
        flex-direction: column;
    }
}




