*{
    margin: 0%;
}

.profile-box {
    align-items: center;
    position: absolute;
    width: 50%;
    height: 40%;
    background-color: rgba(255, 77, 0, 0.797);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    height: 45%;
    width: 45%;
    display: flex;
    justify-content: left;
    position: absolute;
    margin-right: 40%;
}

h1 {
    margin-top: 4%;
    font-size: 28px;
    color: white;
    font-weight: 700;
    font-family: "SN Pro", sans-serif;
}

h2 {
    font-family: "SN Pro", sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-right: 20%;
}

.informacion {
    font-family: "SN Pro", sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
    margin-top: 10%;
    border-spacing: 40px 10px;

}

.info{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.info1 {
    gap-right
}
