* {
  margin: 0%;
}

.tabla_contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 4rem;

}

.tabla_contenido ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 5rem;
    
}

.container {
    margin-top: 0.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}


.barra_superior {
    z-index: 1000;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0;
    justify-content: center;
    height: 50%;
    border-bottom: 2px solid rgb(163, 163, 163);
    
    
}

.footer_superior {
    display: flex;
    justify-content: space-between;
    width: 8%;
    padding: 0 20px;
    align-items: center;
    margin-left: auto;

}


.boton {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease;

    
}

.boton a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
    border-radius: 10px;
    font-family: "SN Pro", sans-serif;
}

.boton img {
    width: 25px;
    height: 25px;
}

.logo-middle {
    width:35px;
    height: 35px;
    transition: all 0.3s ease;

}

.logo-middle:hover{
    transform: scale(0.9);
    transition: all 0.3s ease;
    cursor: pointer;
}


.boton--hover:hover {
    transform: scale(0.9);
    background-color: rgb(255, 255, 253);
    border-color: orange;
}


.principal-tittle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 2%;

}

.principal-tittle h1 {
  font-weight: 400;
  font-family:"SN Pro";
  font-size: 2rem;
}

.principal-tittle p {
  font-family: "SN Pro", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  color: black;
  margin-top: 1%;
}

.Principal-table{
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-columns: auto auto;
    /*aqui doy a entender que hay 2 columnas 
    y gracias a eso puedo poner las imagenes al lado 
    de la tabla*/  
    gap: 0;
}

.Principal-table table {
    border-collapse: separate;
    border-spacing: 40px 10px;
    text-align: center;
}


.three-lines-img {
    height: 25px;
    width: 25px;
}

.Border-designed {
    outline: 1px solid gray;
    border-radius: 15px;
    font-family: "SN Pro", sans-serif;
    font-weight: 300;
}   


.table-tittle td {
    font-family: "SN Pro", sans-serif;
    font-weight: 600;
}

.progress-icon {
    height: 45px;
    width: 45px;
}

.lines-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}

.lines-images div {
    justify-content: end;
    padding: 5px 0;
    margin-top: 10%;
}

.boton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.boton-login {
    background-color: orangered;
    border-radius: 25px;
    color: white;
    padding: 15px 50px; /* Cambia height y width por padding osea, relativo al contenido*/
    text-align: center;
    text-decoration-line: none;
    font-family: "SN Pro", sans-serif;
    font-weight: 400;
}