*{
    margin: 0;

}
.background_img {
    width: 100vmax;
    height: 100vmin;
    background-size: cover;
    background: url("../media/pexels-pixabay-159400.png")no-repeat;
    align-items: center;
    background-color: black;
}

@keyframes logo_animation {
    from {
        opacity: 50%;
    }

    to {
        opacity: 0%;
    }
}

.logo{
    margin-left: 45vmax;
    margin-top: 40vmin;
    animation: logo_animation;
    animation-duration: 0.9s;
    animation-iteration-count:calc(1);
}

