*{
    margin: 0;

}
.background_img {
    width: 100vmax;
    height: 100vmin;
    background-size: cover;
    background: url("../media/pexels-pixabay-159400.png")no-repeat;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logo_animation {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }

}

.logo{
    max-height: 150px;
    
    animation: logo_animation;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-delay: 0.7s;
    animation-direction: alternate;
    /*añadir hiden*/
}

.login_container {
    align-items: center;
    position: absolute;
    width: 40%;
    height: 65%;
    background-color: white;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
}

.formulario {
    position: absolute;

}

.register_logo{
    margin-top: 4%;
    max-width: 10%;
}

h5 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing:none;
    font-weight: 200;
    letter-spacing:0.5ch;
}

h3 {
    margin-top: 2%;
    max-width: 60%;
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 500;
}

p{
    margin-top: 2%;
    color: grey;
}

input {
    border: 1px solid gray;
    border-radius: 12px ;
    align-items:initial ;
}

.form-code {
    margin-top: 4%;
    justify-content: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: stretch;

}